.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  position: relative;
}
.navbar {
  width: 100%;
  height: 70px;
  background-color:purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button{
  height: 40px;
  margin-right: 10px;
  background-color: rgb(99, 99, 248);
  color: white;
  border:none;
  border-radius: 5px;
  width: 150px;
  font-weight: bold;
}
.button:hover{
  border: 1px solid rgb(99, 99, 248) ;
  color: rgb(99, 99, 248);
  background-color: white;
}